<!DOCTYPE html>
<html lang="{$config.language}">
    <head>
        {include file="common/meta" /}
    </head>

    <body class="inside-header inside-aside {:defined('IS_DIALOG') && IS_DIALOG ? 'is-dialog' : ''}">
        <div id="main" role="main">
            <div class="tab-content tab-addtabs">
                <div id="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="content-header hide">
                                <h1>
                                    {:__('Dashboard')}
                                    <small>{:__('Control panel')}</small>
                                </h1>
                            </section>
                            {if !IS_DIALOG}
                            <!-- RIBBON -->
                            <div id="ribbon">
                                <ol class="breadcrumb pull-left">
                                    <li><a href="#"><i class="fa fa-dashboard"></i> {:__('Dashboard')}</a></li>
                                    <li>{$title|default=''}</li>
                                </ol>
                                <div class="shortcut pull-right">
                                    <a href="javascript:;" id="search" onclick="$('.search input').focus();"><i class="fa fa-search"></i> <span class="hidden-mobile">{:__('Search')}</span></a>
                                    <a href="javascript:;" id="refresh" onclick="location.reload();"><i class="fa fa-refresh"></i> <span class="hidden-mobile">{:__('Refresh')}</span></a>
                                </div>
                            </div>
                            <!-- END RIBBON -->
                            {/if}
                            <div class="content">
                                {__CONTENT__}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include file="common/script" /}
    </body>
</html>