<!DOCTYPE html>
<html>
    <head>
        {include file="common/meta" /}
    </head>

    <body class="inside-header inside-aside {:defined('IS_DIALOG') && IS_DIALOG ? 'is-dialog' : ''}">
        <div id="main" role="main">
            <div class="tab-content tab-addtabs">
                <div id="content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <section class="content-header hide">
                                <h1>
                                    {:__('Dashboard')}
                                    <small>{:__('Control panel')}</small>
                                </h1>
                            </section>
                            {if !IS_DIALOG && !$Think.config.fastadmin.multiplenav && $Think.config.fastadmin.breadcrumb}
                            <!-- RIBBON -->
                            <div id="ribbon">
                                <ol class="breadcrumb pull-left">
                                    {if condition="$auth->check('dashboard')"}
                                    <li><a href="dashboard" class="addtabsit"><i class="fa fa-dashboard"></i> {:__('Dashboard')}</a></li>
                                    {/if}
                                </ol>
                                <ol class="breadcrumb pull-right">
                                    {foreach $breadcrumb as $vo}
                                    <li><a href="javascript:;" data-url="{$vo.url}">{$vo.title}</a></li>
                                    {/foreach}
                                </ol>
                            </div>
                            <!-- END RIBBON -->
                            {/if}
                            <div class="content">
                                {__CONTENT__}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include file="common/script" /}
    </body>
</html>
