<!DOCTYPE html>
<html lang="{$config.language}">
    <head>
        {include file="common/meta" /}
    </head>
    <body class="hold-transition skin-green sidebar-mini fixed" id="tabs">
        <div class="wrapper">

            <header id="header" class="main-header">
                {include file='common/header' /}
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                {include file='common/menu' /}
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper tab-content tab-addtabs">

            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer hide">
                <div class="pull-right hidden-xs">
                </div>
                <strong>Copyright &copy; 2017-2018 <a href="https://www.fastadmin.net">Fastadmin</a>.</strong> All rights
                reserved.
            </footer>

            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
            {include file="common/control" /}
        </div>
        <!-- ./wrapper -->
        <!-- end main content -->
        {include file="common/script" /}
    </body>
</html>