<!DOCTYPE html>
<html lang="{$config.language}">
    <head>
        <title>会员中心</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="renderer" content="webkit" />
        <link href="__CDN__/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="__CDN__/assets/css/fastadmin.min.css" rel="stylesheet" />
        <link href="__CDN__/assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        <link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="__CDN__/assets/js/html5shiv.js"></script>
          <script src="__CDN__/assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="row tips">
            <div class="col-xs-12">
                <div class="box box-gray">
                    <div class="box-body">
                        {__CONTENT__}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>