<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header" style="margin-top:10px;">
                <h4>注册</h4>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="well">
                        <form id="registerForm" method="POST" action="#">
                            <div class="form-group">
                                <label for="email" class="control-label">邮箱</label>
                                <input type="text" class="form-control" id="email" name="email" value="" required="" placeholder="">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label">用户名</label>
                                <input type="text" class="form-control" id="username" name="username" value="" required="" placeholder="">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="mobile" class="control-label">手机</label>
                                <input type="text" class="form-control" id="mobile" name="mobile" value="" placeholder="可选">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">密码</label>
                                <input type="password" class="form-control" id="password" name="password" value="" required="" />
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">验证码</label>
                                <div class="input-group">
                                    <input type="text" name="captcha" class="form-control" />
                                    <span class="input-group-addon" style="padding:0;border:none;">
                                        <img src="{:captcha_src()}" width="100" height="30" onclick="this.src = '{:captcha_src()}?r=' + Math.random();"/>
                                    </span>
                                </div>
                                <span class="help-block"></span>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">提 交</button>
                            <a href="{:url('user/login')}" class="btn btn-default btn-block">已经账号,立即登录</a>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p class="lead">会员权益</p>
                    <ul class="list-unstyled" style="line-height: 2">
                        <li><span class="fa fa-check text-success"></span> 最新代码推送</li>
                        <li><span class="fa fa-check text-success"></span> 发布评论</li>
                        <li><span class="fa fa-check text-success"></span> 个性化头像</li>
                        <li><span class="fa fa-check text-success"></span> 定制专属页面</li>
                        <li><span class="fa fa-check text-success"></span> 发现更多</li>
                    </ul>
                    <a href="{:url('user/third?action=redirect&platform=weibo')}" class="btn btn-danger btn-block"><i class="fa fa-weibo"></i> 微博登录</a>
                    <a href="{:url('user/third?action=redirect&platform=wechat')}" class="btn btn-success btn-block"><i class="fa fa-wechat"></i> 微信登录</a>
                    <a href="{:url('user/third?action=redirect&platform=qq')}" class="btn btn-info btn-block"><i class="fa fa-qq"></i> QQ登录</a>
                </div>
            </div>
        </div>
    </div>
</div>